.goal-form{
    h1{
        @include heading;
        padding: 0 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            outline: none;
            border: none;
            background-color: transparent;
            
        }
    }
    .field{
        padding: 0 15px 15px;
        label, input.field__text{
            display: block;
            width: 100%;
        }
        &__label{
            font-weight: 400;
            font-size: 14px;
            padding-bottom: 5px;
        }
        input.field__text{
            @include formInput;
        }
        &.goal-type{
            display: flex;
            justify-content: space-between;
        }
    }
    
    
    
    .goal-type__option{
        display: flex;
        input{
            margin-right: 15px;
        }
        strong{
            display: block;
            padding-bottom: 5px;
        }
        label{
            span{
                display: none;
            }
        }
    }
    &--help-messages-showing{
        .field.goal-type{
            display: block;
        }
        .goal-type__option label span{
            display: block;
        }
        .goal-type__option + .goal-type__option{
            padding-top: 15px;
        }
    }
}

.form-footer{
    padding: 15px;
    input{
        @include button;
        color: #FFF;
        border-radius: $borderRadius;
        background-image: linear-gradient(to right, #333 0%, lighten(#333, 10%) 71%, #333 100%);
    }
}