@import './scss/Variables.scss';

body {
  margin: 0;
  font-family: $fontStack;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
button, input[type=submit]{
  font-family: $fontStack;
  font-size: 16px;
}

.icon-button{
  border:0;
  background: transparent;
}
#root{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@import './Components/Header/Header.scss';
@import './Components/GoalList/GoalList.scss';
@import './Components/GoalList/GoalList.scss';
@import './Components/NewGoal/NewGoal.scss';