@import './scss/Variables.scss';

body {
  margin: 0;
  font-family: $fontStack;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
button, input[type=submit]{
  font-family: $fontStack;
  font-size: 16px;
}

.icon-button{
  border:0;
  background: transparent;
}
#root{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
input[disabled]{
  opacity: .3;
}
@import './Components/Auth/Auth';
@import './Components/Header/Header';
@import './Components/Header/FloatingMenu';

@import './Components/Shared/DeleteButton/DeleteButton';

@import './Screens/GoalList/GoalList';
@import './Screens/GoalForm/GoalForm';
@import './Screens/GoalForm/GoalFormHistory/GoalFormHistory';
@import './Screens/RecordGoal/RecordGoal';
@import './Screens/MyAccount/MyAccount';
@import './Screens/HistoryScreen/History';