$fontStack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

@mixin heading{
    font-weight: 700px;
    font-size: 14px;
    color: #000;
}

$blue: #0d82df;
$cta: #85bf31;
$cta_secondary: #badbf5;
$text: #60656f;
$text_strong: #41495b;
$white: #fff;