.record-goal{
    h1{
        @include heading;
        display: block;
        padding: 0 15px 15px;
    }

    .field,&__title-row{
        padding: 0 15px 15px;
        label, input.field__text{
            display: block;
            width: 100%;
        }
        &__label,.label{
            display: block;
            font-weight: 400;
            font-size: 14px;
            padding-bottom: 5px;
        }
        
        input.field__text,.title{
            display: block;
            width: 100%;
            height: 50px;
            border: none;
            background: #eee;
            padding: 15px;
            font-size: 20px;
            font-weight: 600;
        }
        .title{
            background: #f7f7f7;
            padding-top: 13px;
        }
    }
}