.auth-wrap{
    padding: 0 15px 15px;
    margin: auto;
    nav{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #fff;
        a{
            display: block;
            padding: 8px 15px 7px;
            color: #333;
            text-decoration: none;
            opacity: .6;

            &.active{
                border-bottom: 1px solid #333;
                cursor: default;
                opacity: 1;
            }
        }
    }
    form{
        padding-top: 20px;
    }
    .errors{
        color: #f00;
    }
}

//.auth-wrap{
//    border: 1px solid #eee;
//    width: 400px;
//    max-width: 90%;
//    margin: 20px auto 0;
//    border-radius: 10px;
//    &__nav{
//        margin: 20px;
//        background: #eee;
//        padding: 10px 20px;
//        border-radius: 10px;
//        display: flex;
//        button{
//            flex: 1;
//            border: none;
//            background: transparent;
//            padding: 10px;
//            border-radius: 10px;
//            transition: all 400ms ease;
//            color: $text;
//            &.active{
//                font-weight: 600;
//                background: rgba(255,255,255,.7);
//                color: $text_strong;
//
//            }
//        }
//    }
//    form{
//        fieldset{
//            border:0;
//            margin:0;
//            padding:0;
//        }
//
//    }
//    .input-wrap{
//        display: block;
//        padding: 0 20px 20px;
//        &__label{
//            font-size: 14px;
//            font-weight: 600;
//            color: $text;
//            padding-bottom: 10px;
//            padding-left: 20px;
//        }
//        input{
//            display: block;
//            width: 100%;
//            border: 1px solid rgba($text, .5);
//            padding: 10px 20px;
//            border-radius: 10px;
//            font-size: 16px;
//        }
//    }
//}