.auth-wrap{
    padding: 0 15px 15px;
    margin: auto;
    nav{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #fff;
        a{
            display: block;
            padding: 8px 15px 7px;
            color: #333;
            text-decoration: none;
            opacity: .6;

            &.active{
                border-bottom: 1px solid #333;
                cursor: default;
                opacity: 1;
            }
        }
    }
    form{
        padding-top: 20px;
        fieldset{
            border:0;
            padding: 0;
            margin: 0;
            label,input{
                display: block;
                &[type=text],
                &[type=email],
                &[type=password]{
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 1.2;
                }
            }
            label{
                padding-bottom: 5px;
                font-size: 12px;
                font-weight: bold;
                color: #333;
            }
        }
        input[type=submit]{
            @include button;
            background: #333;
            color: #fff;
        }
    }
    .errors{
        color: #f00;
    }
    &__success{
        padding-top: 20px;
        text-align: center;
    }
    &__error{
        font-weight: bold;
        color: #f00;
        padding-top: 20px;
        text-align: center;
    }
}

.verify-screen{
    padding: 0 15px 15px;
    &__message{
        .button{
            @include button;
            background: #333;
            color: #fff;
        }
    }
}

